/*nav*/
nav .nav-wrapper{
	height: 12em;
	text-align: right;

}
.nav-wrapper h1{
	margin-right: 1em;
	
}
.nav-wrapper p{
	margin-right: 4em;
	line-height: 1em;
}
/*fin nav*/
/*seccion 1*/
img{
	width: 100%;
	height: auto;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	
}